/SxSx_r_correlation.dat
/SxSySz_profile.dat
/Sx_average_profile.dat
/Sx_profile.dat
/Sy_profile.dat
/Sz_average_profile.dat
/Sz_profile.dat
/Sz_total.dat
/Correlation1.dat
/Correlation2.dat
/Correlation3.dat
/Entropy_center.dat
/Entropy_profile.dat
/Loschmidt.dat
/Q1_profile.dat
/Q2_profile.dat
/out_1
