/out_1

*.dat
*.pdf
/Entropy_profile.dat_cp
/err
/err_out
/SxSySz_profile.dat_cp
/fit.log
/this_dir.mk
/options.mk
/Makefile_GR
/Makefile_bckp
/.Makefile.swp
../Data/*


/input_parameters
/output_file
